.Form {
  width : 800px;
  background-color: white;
  border: 1px solid #e9ecef;
  margin : 0 auto;
}

.Memo-Info {
  display: inline;
  width : 300px;
  border-right: 1px solid #e9ecef;
  float : left;
}


.Memo-write {
  display: inline;
  width : 500px;
  float : left;
}
