.Form {
  width : 800px;
  background-color: #FDFAFE;
  border: 1px solid #EDEDEF;
  margin : 0 auto;
  height: 500px;
  margin-top: 9rem;
}

.Memo-Info {
  display: inline;
  height: 500px;
  width: 300px;
  border-right: 1px solid #EDEDEF;
  float : left;
}

.Memo-Info .Serch-bar {
  width:300px;
  height: 50px;
  border-bottom: 1px solid #EDEDEF;
}

.Serch-bar input {
  width : 230px;
  height: 30px;
  border: 1px solid #EDEDEF;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: 7px;
}
.Memo-Item {
  padding: 0;
}
.Memo-Item ul, li{
  width : 300px;
  height: 50px;
  border-bottom: 1px solid #EDEFEF;
  list-style: none;
}


.Memo-write {
  display: inline;
  height:  500px;
  width: 500px;
  float : left;
  border-left: 1px solid #EDEDEF;
}

.Memo-Write .MemoWriteForm {
}
